<div class="bigSale" [style.backgroundColor]="backGroundColor">
    <p class="bigSale__title">{{title}}</p>
    <div class="bigSale__container">
        <div class="bigSale__cardContainer">
            <app-simple-card class="bigSale__card"></app-simple-card>
        </div>
        <div class="bigSale__cardContainer">
            <app-simple-card class="bigSale__card"></app-simple-card>
        </div>
        <div class="bigSale__cardContainer">
            <app-simple-card class="bigSale__card"></app-simple-card>
        </div>
        <div class="bigSale__cardContainer">
            <app-simple-card class="bigSale__card"></app-simple-card>
        </div>
    </div>

</div>