@import "../../scss/abstracts/variables";
@import "../../scss/abstracts/functions";
@import "../../scss/abstracts/mixins";

.addRemoveActionBar
{
    width: 100%;
    height: 100%;
    background-color: #0000E7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:0.5rem;
    margin: 0;
    padding: 0;

    &__btn
    {
        border: none;
        color: white;
        background-color: transparent;
    }
    &__itemNo
    {
        color: white;
        @include font_style();
        font-size: 20px;

    }

}