@import "../../scss/abstracts/variables";
@import "../../scss/abstracts/functions";
@import "../../scss/abstracts/mixins";

.navBar {
    width: 100%;
    background-color: $primary-color;
    position: relative;
    padding: 1rem;
    z-index: 1000;

    &__container {
        width: 97%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.2rem;
    }

    &__logo {
        max-width: 80%;
        height: auto;
    }

    &__searchBar {
        width: 50%;
    }

    &__links {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        gap: 0.5rem;
    }

    &__item {
        //     display: flex;
        //     justify-content: center;
        //     align-items: center;
        //     gap: 0.1rem;
    }

    &__btn {
        border: none;
        background-color: transparent;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        white-space: nowrap;
    }
    &__divider
    {
        height: 1rem;
        background-color: gray;
        width: 1px;
    }

    &__link {
        text-decoration: none;
        color: $dark-color;
        font-weight: 700;
        transition: color 0.3s ease;
        font-size: 15.667px;

        &:hover {
            color: lighten($dark-color, 70%);
            cursor: pointer;
        }
    }

}