<div class="product">
    <img class="product__img" [src]="product.img" [alt]="product.name" />
    <div class="product__content">
        <!-- <h3 >{{product.name}}</h3> -->
        <p class='product__description'>{{product.description}}</p>
        <p class='product__price'> {{product.price}}</p>
        <div class="product__status">
            <div class="word-container">
                <p class="product__word-item animate">{{ currentWord }}</p>
            </div>
        </div>

        <div class="product__actions">
            <div class="product__brand">
                <p class="product__brandName">{{product.brand}}</p>
            </div>
            <div class="product__cart" >
                <button class="product__cartBtn" (click)="addToCart()" >
                    @if(disabled)
                    {
                        <img src="https://f.nooncdn.com/s/app/com/noon/icons/quick-atc-add-to-cart-grey.svg" alt="add-to-cart" width="24px" height="24px">
                    }
                    @else {
                        <app-add-remove-action-bar [itemsNumber]="5"></app-add-remove-action-bar>
                    }
                </button>

            </div>

        </div>
    </div>
</div>